html, body
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Meiryo, "Yu Gothic", YuGothic, Verdana, sans-serif


/* style for only one-line code */
p > code
  display: inline-block
  padding: 0px 3px
  background-color: #eaeaea


.blog-title
  margin: 0 auto 40px
  font-size: 62px


.container
  height: 100%
  width: 100%



@mixin max-screen($break-point)
  @media screen and (max-width: $break-point)
    @content


@mixin min-screen($break-point)
  @media screen and (min-width: $break-point)
    @content



@mixin screen($break-point-min, $break-point-max)
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max)
    @content


@mixin main-container-width()
  padding:
    right: 12px
    left: 12px

  width: 60%
  min-width: 780px

  @include max-screen(480px)
    padding:
      right: 0
      left: 0
    min-width: 95vw

  @include max-screen(768px)
    padding:
      right: 0
      left: 0
    min-width: 85vw


.main-section
  box-sizing: border-box
  min-height: 90vh
  margin: auto
  padding:
    top: 32px
    bottom: 32px

  @include main-container-width


.footer
  background-color: #35373E
  color: white

  &__inner
    @include main-container-width

    padding:
      top: 28px
      bottom: 12px
    margin: auto

  &__title
    font-family: Montserrat, sans-serif
    margin: 8px auto

.copyright
  font-size: 90%
