html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Meiryo, "Yu Gothic", YuGothic, Verdana, sans-serif;
}

/* style for only one-line code */
p > code {
    display: inline-block;
    padding: 0px 3px;
    background-color: #eaeaea;
}


.footer {
    padding: 32px 0 0 0;
}
.footer__title {
    font-family: Montserrat, sans-serif;
    margin: 8px auto;
}
.copyright {
    font-size: 90%;
}


.tags {
  display: inline-block;
  margin: 4px;
  padding: 2px 6px;
  border: 1px solid #eee;
  background-color: #fbfbfb;
  border-radius: 2px;
}
.tags:first-child {
  margin-left: 0;
}


.main-article {
    min-height: 90vh;
}


.sns-share__area {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 50px;
}
.sns-share__button {
    display: inline-block;
    margin: 0 8px;
}
.sns-share__button:first-child {
    margin-left: 0;
}


/* category */
.categories {
    list-style: none;
    margin: 0;
}


.post-nav {
    margin: 32px auto;
}
.post-nav__link {
    line-height: 8px;
}
.post-nav__side {
    margin-bottom: 12px;
}
.post-nav__label {
    display: block;
    line-height: 8px;
    font-size: 15px;
}


.article-card {
    box-sizing: border-box;
    padding: 24px 18px;
    border: 1px solid #ededed;
    border-bottom: 2px solid #F6F6F6;
    border-radius: 3px;
    box-shadow: 0px 7px 20px -9px #d4d4d4;
    margin: 24px auto;
}
.article-card:hover {
    border-color: 1px solid #e2e2e2;
    background-color: #FEFEFE;
    box-shadow: 0px 8px 20px -5px #d4d4d4;
}
.article-card__title {
    margin: auto;
}
.article-card__excerpt {
    margin: auto;
}
