html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Meiryo, "Yu Gothic", YuGothic, Verdana, sans-serif;
}

/* style for only one-line code */
p > code {
    display: inline-block;
    padding: 0px 3px;
    background-color: #eaeaea;
}


.tags {
  display: inline-block;
  margin: 4px;
  padding: 2px 6px;
  border: 1px solid #eee;
  background-color: #fbfbfb;
  border-radius: 2px;
}
.tags:first-child {
  margin-left: 0;
}


.main-article {
    min-height: 90vh;
}


.sns-share__area {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sns-share__button {
    display: inline-block;
    margin: 0 8px;
}
.sns-share__button:first-child {
    margin-left: 0;
}


/* category */
.categories {
    list-style: none;
    margin: 0;
}


.post-nav {
    margin: 18px auto;
}

.post-nav__link {
    line-height: 8px;
}
.post-nav__side {
    margin-bottom: 12px;
}
.post-nav__label {
    display: block;
    line-height: 8px;
    font-size: 15px;
}
